version: "3.8"

services:

  monitor:
    build: ./monitor
    container_name: monitor
    hostname: monitor
    networks:
      - monitoring-net

  cliente1:
    build: ./cliente1
    container_name: cliente1
    hostname: cliente1
    networks:
      - monitoring-net
  
  flask-app:
    build: ./flask-app
    container_name: flask-app
    hostname: flask-app
    ports:
      - "5000:5000"
    networks:
      - monitoring-net

networks:
  monitoring-net:
    driver: bridge
