version: "3.8"

services:

  # Monitor (Servidor SNMP y rsyslog)
  monitor:
    build: ./monitor
    container_name: monitor
    hostname: monitor
    volumes:
      - monitor-logs:/var/log
    networks:
      - monitoring-net

  # Cliente 1 (Ubuntu con herramientas de red)
  cliente1:
    build: ./cliente1
    container_name: cliente1
    hostname: cliente1
    networks:
      - monitoring-net
  
  # Flask App (Servicio web)
  flask-app:
    build: ./flask-app
    container_name: flask-app
    hostname: flask-app
    ports:
      - "5000:5000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - monitor-logs:/var/log/monitor
    networks:
      - monitoring-net

  # Jaeger (Tracing)
  jaeger:
    image: jaegertracing/all-in-one:1.51
    container_name: jaeger
    hostname: jaeger
    ports:
      - "16686:16686"  # UI
      - "4318:4318"    # OTLP HTTP
    networks:
      - monitoring-net

# Volumen para compartir logs entre monitor y flask-app
volumes:
 monitor-logs:
   external: false

# Red para los servicios
networks:
 monitoring-net:
   driver: bridge
