Flask==3.0.0
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-api
opentelemetry-distro
docker==6.1.3
pysnmp==6.0.13
pyasn1==0.4.8
